@import "variables";

body{
  font-family: 'Open Sans', sans-serif;
}

/* Admin */
#logout:hover{
  @extend %pointer;
}

/* All */
html, body, #app, nav, nav ul{
  padding: 0;
  margin: 0;
}

nav{
  background: $super-dark-grey;
  width: 100%;
  @include height(50px);
}

nav ul{
  background: $super-dark-grey;
  @extend %flex;
  @include height(100%);
  align-items: center;
  list-style: none;
}

nav ul li {
  width: 10vw;
  height: 50px;
  line-height: 50px;
  @extend %text-center;
  color: lightgrey;
  @extend %pointer;
  font-size: .9em;
}

nav ul li:hover {
  background: $hovered-grey;
  color: #fff;
}

.container *{
  @extend %border-box;
}

.container, table {
  a {
    @extend %no-underline;
  }
}

.container table {
  width: 100%;
}

table {

  margin: 10px auto;

  img {
    width: 100%;
  }
}

table, thead, tr, td {
  border-top: 1px solid $light-grey;
  border-bottom: 1px solid $light-grey;
  border-collapse: collapse;
  text-align: left;
}

.container {
  margin: 50px auto;

  @media all and (min-width: 1024px){
    @include width(80%);
  }

  @media all and (max-width: 1024px){
    @include width(100%);
  }
}

.container_flex {
  @extend .container;
  @extend %flex;
  @extend %wrap;
  @extend %space-around;
}

.w40 {
  @include width(40%);
}

.w150 {
  @include width(150px);
}

@media all and (max-width: 1024px) {
  .w95sm {
    @include width(95%);
  }
}

.m10 {
  margin: 10px auto;
}

.article {
  @include widthArticle();
  padding: 5px;
  border: 1px solid #d8d8d8;
  margin-top: 10px;
  color: lightgrey;

  h2 {
    text-align: center;
  }

  .image {
    @include width(100%);
  }
}

.list_actions {
  @extend %flex;
  padding: 5px;
}

/* form */

form {
  background: $super-dark-grey;
  padding: 15px;
  border-radius: 8px;
  @include width(100%);
  $array: 'input[type='text']', 'input[type='password']', 'input[type='email']', 'input[type='file']', textarea;

  @include loopItem($array, 'width', 100%);
  @include loopItem($array, 'display', 'block');
  @include loopItem($array, 'padding', 7px);
  @include loopItem($array, 'margin', '5px auto 10px auto');
  @include loopItem($array, 'border-radius', '5px');
  @include loopItem($array, 'border', 'none');
  @include loopItem('textarea', 'display', 'block');

  label {
    color: lightgrey;
    padding: 0;
    margin-bottom: 5px;
    font-size: 1em;
  }

  img{
    margin: 10px auto;
    width: 100%;
  }

  input[type='file'] {
    color: lightgrey;
    padding: 0;
  }

  textarea {
    font-family: 'Helvetica', sans-serif;
  }
}
/* buttons */

.mauto {
  margin: 0 auto;
}

.btn {
  @include borderRadius(7px);
  @extend %block;
  @extend %no-border;
  @extend %pointer;
  @include padding(7px);
  color: white;
}

.button-default {
  @extend .btn;
  background: darkslategray;
}

.button-default:hover,
.button-submit:hover{
  background: slategrey;
}

.button-submit {
  @extend .btn;
  @extend .mauto;
  background: darkslategray;
}

.button-delete {
  @extend .btn;
  background: $dark-red;
}

.button-delete:hover {
  background: red;
}

.button-add-image,
.button-add-category{
  position: fixed;
  bottom: 5px;
  left: 5px;
}

.button-add-category {
  position: fixed;
  bottom: 40px;
  left: 5px;
}

#app_user {
  position: relative;
  min-height: 100vh;

  /* Footer */

  footer{
    @include padding(20px);
    @include width(100%);
    @extend %border-box;
    @extend %flex;
    @extend %align-center;
    background: $super-dark-grey;

    form {
      padding: 0;
      input[type='email'] {
        margin: 0 auto 10px auto;
      }
      @include width(30%);
      @extend %margin-auto;
    }
  }
}

.no-border{
  border: none;
}

#burger {
  height: 40px;
  margin-top: 5px;
  padding: 0;
}

@media all and (max-width: 1024px) {
  nav ul {
    position: absolute;
    top: 50px;
    left: -50vw;
    width: 50vw;
    height: 100vh;
    flex-direction: column;
    -webkit-flex-direction: column;
    transition: .4s;
  }

  nav ul li {
    width: 100%;
    text-align: left;
    text-indent: 10%;
  }
}