/* Admin */
#logout:hover{
    cursor: pointer;
    color: orangered;
}

/* All */
.container *{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.container {
    width: 80%;
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-around;
    -webkit-justify-content: space-around;
}

.article {
    width: 30%;
    padding: 5px;
    border: 1px solid #d8d8d8;
    margin-top: 5px;
}

img{
    width: 30%;
}

table {

}

table img{
    width: 100%;
}