@import "variables";

body{
  font-family: 'Helvetica', sans-serif;
}

/* Admin */
#logout:hover{
  @extend %pointer;
}

/* All */
html, body, #app, nav, nav ul, h1{
  padding: 0;
  margin: 0;
}

nav{
  background: $purple;
  width: 100%;
  @include height(60px);
}

nav ul{
  @extend %flex;
  @include height(100%);
  align-items: center;
  list-style: none;
}

nav ul li {
  width: 10vw;
  height: 100%;
  line-height: 60px;
  @extend %text-center;
  @extend %pointer;
  color: white;
}

nav ul li:hover{
  background: $medium-purple;
}

h1 {
  background: $light-grey;
  @extend %text-center;
}

.container *{
  @extend %border-box;
}

.container {
  @include width(80%);
  @extend %flex;
  @extend %wrap;
  @extend %space-around;
  @extend %margin-auto;
}

.article {
  @include width(30%);
  padding: 5px;
  border: 1px solid #d8d8d8;
  margin-top: 5px;

  img{
    @include width(100%);
  }

  a {
    @extend %no-underline;
  }
}

.btn {
  @include borderRadius(10px);
  @extend %pointer;
  @extend %margin-auto;
  @extend %block;
  @extend %no-border;
  color: white;
}

.button-link{
  @extend .btn;
  @include padding(10px);
  background: $purple;
}

table img{
  width: 100%;
}