@import "variables";

/* Admin */
#logout:hover{
  @extend %pointer;
}

/* All */
html, body, #app, nav, nav ul{
  padding: 0;
  margin: 0;
}

body{
  font-family: 'Open Sans', sans-serif;
  //color: #76838f;
  color: #34495e;
  background: #f1f4f5;
}

nav{
  background: $super-dark-grey;
  width: 100%;
  @include height(50px);
  @extend %flex;
  @extend %align-center;
  justify-content: space-between;
  z-index: 2;
}

nav ul{
  background: $super-dark-grey;
  @extend %flex;
  @include height(100%);
  align-items: center;
  list-style: none;
  z-index: 1;
}

nav ul li {
  width: 10vw;
  height: 50px;
  line-height: 50px;
  @extend %text-center;
  color: darkgrey;
  @extend %pointer;
  font-size: .9em;
}

nav ul li:hover {
  background: $hovered-grey;
  color: #fff;
}

.container *, footer *{
  @extend %border-box;
}

.container, table {
  a {
    @extend %no-underline;
    color: #34495e;
  }
}

.container table {
  width: 100%;
}

table {

  margin: 10px auto;

  img {
    width: 100%;
  }
}

table, thead, th, tr, td {
  border-top: 1px solid $light-grey;
  border-bottom: 1px solid $light-grey;
  border-collapse: collapse;
  text-align: left;
  padding: 10px;
}

th {
  color: $super-dark-grey;
}

.container {

  margin: 50px auto;

  @media all and (min-width: 1024px){
    @include width(80%);
  }

  @media all and (max-width: 1024px){
    margin: 10px auto 50px auto;
    @include width(100%);
  }
}

.container_flex {
  @extend .container;
  @extend %flex;
  @extend %wrap;
  @extend %space-around;
}

.w100 {
  @include width(100%);
}

.w40 {
  @include width(40%);
}

.w150 {
  @include width(150px);
}

@media all and (max-width: 1024px) {
  .w95sm {
    @include width(95%);
  }
}

.m10 {
  margin: 10px auto;
}

.mt5 {
  margin-top: 5px;
}

.ml5 {
  margin-left: 5px;
}

h2 {
  text-align: center;
}

.tile {
  padding: 15px;
  box-shadow: 0 2px 3px rgb(163,175,183);
  background: #fff;
  @include widthArticle();
  margin: 20px auto;

  .image {
    @include width(100%);
  }
}

.tile-mh {
  @extend .tile;
  margin: 0;
}

.tile-mh:hover{
  box-shadow: 0 2px 3px grey;
}

.no-shadow {
  -webkit-box-shadow: none!important;
  -moz-box-shadow: none!important;
  box-shadow: none!important;
}

.tile-comment{
  @extend .tile;
  cursor: pointer;
}

figcaption {
  font-size: .9em;
  margin-top: 5px;
}

.list_actions {
  @extend %flex;
  padding: 5px;
}

.field {
  margin: 10px auto;
}

/* form */

form {
  position: relative;
  $array: 'select', 'input[type="text"]', 'input[type="password"]', 'input[type="email"]', 'input[type="date"]', 'input[type="file"]', textarea;

  @include loopItem($array, 'width', 100%);
  @include loopItem($array, 'display', 'block');
  @include loopItem($array, 'padding', 7px);
  @include loopItem($array, 'color', #76838f);
  @include loopItem($array, 'margin', 5px auto);
  @include loopItem($array, 'border', 'none');
  @include loopItem('select', 'border', '1px solid lightgrey');
  @include loopItem('input[type="text"]', 'border-bottom', 1px solid lightgrey);
  @include loopItem('input[type="password"]', 'border-bottom', 1px solid lightgrey);
  @include loopItem('input[type="email"]', 'border-bottom', 1px solid lightgrey);
  @include loopItem('input[type="date"]', 'border-bottom', 1px solid lightgrey);
  @include loopItem('textarea', 'border', 1px solid lightgrey);
  @include loopItem('textarea', 'display', 'block');
  @include loopItem('textarea', 'margin-top', '10px');
  @include loopItem('textarea', 'font-size', '.9em');
  @include loopItem('textarea', 'height', '150px');
  @include loopItem('textarea', 'resize', 'none');
  @include focused($array, 'border-color', 'dodgerblue');

  label {
    display: block;
    padding: 0;
    margin: 15px auto 0 auto;
    font-size: .9em;
  }

  img{
    margin: 10px auto;
    width: 100%;
  }

  input[type='file'] {
    color: lightgrey;
    padding: 0;
  }

  textarea {
    font-family: 'Helvetica', sans-serif;
  }
}
/* buttons */

.mauto {
  margin: 0 auto;
}

.btn {
  @extend %block;
  @extend %no-border;
  @extend %pointer;
  @include padding(7px);
  color: white;
}

.button-default {
  @extend .btn;
  background: darkslategray;
}

.button-default:hover,
.button-submit:hover{
  background: slategrey;
}

.button-submit {
  @extend .btn;
  @extend .m10;
  background: darkslategray;
}

.button-delete {
  @extend .btn;
  background: $dark-red;
}

.button-delete:hover {
  background: red;
}

.button-add-image,
.button-add-category{
  position: fixed;
  bottom: 5px;
  left: 5px;
}

.button-add-category {
  position: fixed;
  bottom: 40px;
  left: 5px;
}

#app_user {
  position: relative;
  @extend %flex;
  @extend %column;
  justify-content: space-between;
  min-height: 100vh;
  /* Footer */

  footer{
    @include width(100%);
    @include padding(20px 0 5px 0);
    @extend %border-box;
    @extend %flex;
    @extend %align-center;
    @extend %justify-center;
    @extend %column;
    background: $super-dark-grey;

    form {
      padding: 0;
      box-shadow: none;
      background: $super-dark-grey;
      width: 30%;
      @extend %margin-auto;
      @extend %flex;
      @extend %align-center;
      input[type='email']{
        border: none;
        color: $super-dark-grey;
      }
    }

    #legal_mentions {
      margin-top: 1em;
      @extend %flex;
      @extend %justify-center;
      color: white;
      font-size: .8em;

      a {
        color: white;
        text-decoration: none;
      }

      a:hover{
        cursor: pointer;
      }
    }
  }
}

.no-border{
  border: none;
}

#burger,
#cross {
  height: 20px;
  margin: 15px 0 15px 4%;
  padding: 0;
  cursor: pointer;
}

@media all and (max-width: 1024px) {
  nav ul {
    position: absolute;
    top: 50px;
    left: -50vw;
    width: 50vw;
    height: 100vh;
    flex-direction: column;
    -webkit-flex-direction: column;
    transition: .4s;
  }

  nav ul li {
    width: 100%;
    text-align: left;
    text-indent: 8%;
  }

  .tile{
    padding: 10px;
    width: 100%;
    display: block;
    margin: 15px auto;
  }

  .tile-mh {
    width: auto;
  }

  #app_user {
    footer form{
        width: 100%;
      }
  }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .4s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.white_space {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
}

.button-group{
  margin-top: 5px;
  display: flex;
  display: -webkit-flex;
}

.button-group button {
  border-left: 1px solid white;
}

.comment {
  border-left: 3px solid lightgrey;
  margin-top: 15px;
  padding: 0 10px 1px 10px;
}

.category_link{
  margin: 0 2px;
  color: #76838f;
}

.category_link:hover{
  color: dodgerblue;
}

form[name='search'] {
  margin-right: 20px;
  height: 25px;

  ul {
    height: auto;
    top: 28px;
    position: absolute;
    width: 200px;
    flex-direction: column;
    -webkit-flex-direction: column;
    box-shadow: 0 2px 3px rgb(163, 175, 183);
    background: #fff;
    align-items: flex-start;

    li {
      display: block;
      height: auto;
      padding: 5px;
      line-height: inherit;
      background: #fff;
      margin: 0;
      text-align: left;
    }

    li:hover{
      color: dodgerblue;
    }
  }

  input {
    width: 200px;
    border: none;
    height: 100%;
    text-indent: 5px;
  }

  button {
    background: transparent;
    border: none;
    height: 100%;
  }

  button:hover{
    cursor: pointer;
  }
}

#loader{
  margin: 0 auto;
  height: 50px;
  width: 65px;
  position: relative;
}

#loader2,
#loader3,
#loader4,
#loader5{
  position: absolute;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  height: 10px;
  width: 10px;
  bottom: 0;
}

#loader2{
  left: 5px;
  background: red;
}

#loader3{
  left: 20px;
  background: #1e90ff;
}

#loader4{
  left: 35px;
  background: orange;
}

#loader5{
  left: 50px;
  background: green;
}

#loaderContainer {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  background: rgb(255,255,255);
  @extend %flex;
  @extend %column;
  @extend %align-center;
  @extend %justify-center;
  z-index: 2;

  p {
    margin-top: 20px;
    text-align: center;
  }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 1s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

