%block {
  display: block;
}

%flex {
  display: flex;
  display: -webkit-flex;
}

%column {
  flex-direction: column;
  -webkit-flex-direction: column;
}

%space-around {
  justify-content: space-around;
  -webkit-justify-content: space-around;
}

%justify-center {
  justify-content: center;
  -webkit-justify-content: center;
}

%wrap {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}

%align-center{
  align-items: center;
  -webkit-align-items: center;
}

%pointer {
  cursor: pointer;
}

%border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

%no-border {
  border: none;
}

%text-center {
  text-align: center;
}

%margin-auto {
  margin: auto;
}

%no-underline {
  text-decoration: none;
}

%max-width {
  width: 100%;
}

@mixin height($height) {
  height: $height;
}

@mixin width($width) {
  width: $width;
}

@mixin widthArticle() {

  @media all and (max-width: 767px) and (min-width: 1024px) {
    width: 100%;
  }

  @media all and (min-width: 768px) and (max-width: 1023px) {
    width: 48%;
  }
}

@mixin borderRadius($angle) {
  border-radius: $angle;
}

@mixin padding($padding) {
  padding: $padding;
}

@mixin loopItem($array, $rule, $value) {
  @each $item in $array {
    #{$item} {
      #{$rule}: #{$value};
    }
  }
}

@mixin focused($array, $rule, $value) {
  @each $item in $array {
    #{$item}:focus {
      #{$rule}: #{$value};
    }
  }
}

$purple: rebeccapurple;
$medium-purple: mediumpurple;
$super-dark-grey: #21292e;
$dark-grey: #263238;
$hovered-grey: #242f35;
$button-grey: #21292e;
$light-grey: rgba(163,175,183,.9);
$dark-red: #b22222;